#### 할로윈 투자 전략
1. 11월 첫날에 매수 -> 4월 마지막날에 매도
2. 11월 첫날의 가격의 시가로 매수
3. 4월 말일에 종가로 매도
4. 수익률 계산 -> 매도가/매수가
5. 누적수익률 계산

In [13]:
from datetime import datetime
import pandas as pd
from dateutil.relativedelta import relativedelta

In [14]:
# 데이터 로드
df = pd.read_csv('../../../csv/AMZN.csv', index_col='Date')

In [15]:
df.head(1)

              Open  High       Low     Close  Adj Close    Volume
Date
1997-05-15  2.4375   2.5  1.927083  1.958333   1.958333  72156000

In [16]:
# 인덱스를 시계열 데이터로 변경
df.index = pd.to_datetime(df.index, format='%Y-%m-%d')

In [17]:
# 2000년 11월 데이터를 출력하려면?
df.loc['2000-11',].iloc[0,0]

35.8125

In [18]:
df.loc['2000-11', ].head(1)['Open']

Date
2000-11-01    35.8125
Name: Open, dtype: float64

In [19]:
df.loc['2000-11', 'Open'][0]

C:\Users\User\AppData\Local\Temp\ipykernel_11036\1122638607.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc['2000-11', 'Open'][0]

35.8125

In [20]:
df.loc['2001-04', 'Close'][-1]

C:\Users\User\AppData\Local\Temp\ipykernel_11036\2496373566.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc['2001-04', 'Close'][-1]

15.78

In [21]:
## 2000년부터 2010년까지 할로윈 투자 데이터를 추출

# 비어있는 데이터프레임을 생성
price_df = pd.DataFrame()

for i in range(2000, 2010, 1):
    # 구매하는 달을 문자열로 변수 생성
    buy_mon = f"{i}-11"         #2000-11 , 2001-11, 2002-11, ....
    sell_mon = str(i+1) + "-04" #2000-04, 2002-04, 2003-04, ...
    # buy_mon에 조건식이 참인 데이터에서 첫날의 데이터만 추출
    buy = df.loc[buy_mon, ].head(1)
    sell = df.loc[sell_mon, ].tail(1)
    # price_df와 buy를 결합 ( 단순한 행 결합 -> 유니언 결합 )
    # concat( {결합한 데이터프레임들을 리스트},  axis={0|1}, ignore_index={bool}) # 인덱스 초기화할거냐 말거냐 ignore_index
    price_df = pd.concat([price_df, buy, sell], axis=0)

In [22]:
price_df = price_df[['Open', 'Close']]

In [23]:
# 수익률 컬럼을 생성해서 1을 대입
price_df['rtn'] = 1

In [24]:
# 수익률이 인덱스 번호가 홀수 일떄만 계산하면 됨.
# 왜냐면 4월 말에 투자가 끝나니까

for i in range(len(price_df)):
    # 홀수인 조건
    if i % 2 == 1:
        rtn = price_df.iloc[i,]['Close'] / price_df.iloc[i-1, ]['Open']
        price_df.iloc[i, 2] = rtn

C:\Users\User\AppData\Local\Temp\ipykernel_11036\504632647.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.4406282722513089' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  price_df.iloc[i, 2] = rtn

In [25]:
price_df

                  Open       Close       rtn
Date
2000-11-01   35.812500   37.375000  1.000000
2001-04-30   15.630000   15.780000  0.440628
2001-11-01    7.080000    6.950000  1.000000
2002-04-30   16.129999   16.690001  2.357345
2002-11-01   19.219999   19.799999  1.000000
2003-04-30   28.600000   28.690001  1.492716
2003-11-03   54.799999   56.740002  1.000000
2004-04-30   46.060001   43.599998  0.795620
2004-11-01   34.220001   35.099998  1.000000
2005-04-29   32.860001   32.360001  0.945646
2005-11-01   39.970001   40.369999  1.000000
2006-04-28   35.770000   35.209999  0.880911
2006-11-01   38.130001   37.560001  1.000000
2007-04-30   61.910000   61.330002  1.608445
2007-11-01   87.750000   87.650002  1.000000
2008-04-30   80.900002   78.629997  0.896068
2008-11-03   56.349998   55.770000  1.000000
2009-04-30   80.930000   80.519997  1.428926
2009-11-02  118.660004  118.839996  1.000000
2010-04-30  141.399994  137.100006  1.155402

In [26]:
price_df['rtn2'] = 1

In [27]:
for i in range(1, len(price_df), 2):
    rtn = price_df.iloc[i, ]['Close'] / price_df.iloc[i-1, ]['Open']
    price_df.iloc[i, 3] = rtn

C:\Users\User\AppData\Local\Temp\ipykernel_11036\3703964332.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.4406282722513089' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  price_df.iloc[i, 3] = rtn

In [28]:
price_df

                  Open       Close       rtn      rtn2
Date
2000-11-01   35.812500   37.375000  1.000000  1.000000
2001-04-30   15.630000   15.780000  0.440628  0.440628
2001-11-01    7.080000    6.950000  1.000000  1.000000
2002-04-30   16.129999   16.690001  2.357345  2.357345
2002-11-01   19.219999   19.799999  1.000000  1.000000
2003-04-30   28.600000   28.690001  1.492716  1.492716
2003-11-03   54.799999   56.740002  1.000000  1.000000
2004-04-30   46.060001   43.599998  0.795620  0.795620
2004-11-01   34.220001   35.099998  1.000000  1.000000
2005-04-29   32.860001   32.360001  0.945646  0.945646
2005-11-01   39.970001   40.369999  1.000000  1.000000
2006-04-28   35.770000   35.209999  0.880911  0.880911
2006-11-01   38.130001   37.560001  1.000000  1.000000
2007-04-30   61.910000   61.330002  1.608445  1.608445
2007-11-01   87.750000   87.650002  1.000000  1.000000
2008-04-30   80.900002   78.629997  0.896068  0.896068
2008-11-03   56.349998   55.770000  1.000000  1.000000
2009-04-30   80.930000   80.519997  1.428926  1.428926
2009-11-02  118.660004  118.839996  1.000000  1.000000
2010-04-30  141.399994  137.100006  1.155402  1.155402

In [29]:
price_df['rtn3'] = 1

In [30]:
# 데이터 중 4월의 데이터만 추출
flag = price_df.index.month == 4

In [31]:
price_df.loc[flag, ]

                  Open       Close       rtn      rtn2  rtn3
Date
2001-04-30   15.630000   15.780000  0.440628  0.440628     1
2002-04-30   16.129999   16.690001  2.357345  2.357345     1
2003-04-30   28.600000   28.690001  1.492716  1.492716     1
2004-04-30   46.060001   43.599998  0.795620  0.795620     1
2005-04-29   32.860001   32.360001  0.945646  0.945646     1
2006-04-28   35.770000   35.209999  0.880911  0.880911     1
2007-04-30   61.910000   61.330002  1.608445  1.608445     1
2008-04-30   80.900002   78.629997  0.896068  0.896068     1
2009-04-30   80.930000   80.519997  1.428926  1.428926     1
2010-04-30  141.399994  137.100006  1.155402  1.155402     1

In [32]:
for i in price_df.index:
    # i가 의미하는 것은? -> 인덱스 데이터
    if i.month == 4:
        rtn = price_df.loc[i, 'Close'] / price_df.shift().loc[i, 'Open']
        price_df.loc[i, 'rtn3'] = rtn

C:\Users\User\AppData\Local\Temp\ipykernel_11036\1823564074.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.4406282722513089' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  price_df.loc[i, 'rtn3'] = rtn

In [33]:
price_df

                  Open       Close       rtn      rtn2      rtn3
Date
2000-11-01   35.812500   37.375000  1.000000  1.000000  1.000000
2001-04-30   15.630000   15.780000  0.440628  0.440628  0.440628
2001-11-01    7.080000    6.950000  1.000000  1.000000  1.000000
2002-04-30   16.129999   16.690001  2.357345  2.357345  2.357345
2002-11-01   19.219999   19.799999  1.000000  1.000000  1.000000
2003-04-30   28.600000   28.690001  1.492716  1.492716  1.492716
2003-11-03   54.799999   56.740002  1.000000  1.000000  1.000000
2004-04-30   46.060001   43.599998  0.795620  0.795620  0.795620
2004-11-01   34.220001   35.099998  1.000000  1.000000  1.000000
2005-04-29   32.860001   32.360001  0.945646  0.945646  0.945646
2005-11-01   39.970001   40.369999  1.000000  1.000000  1.000000
2006-04-28   35.770000   35.209999  0.880911  0.880911  0.880911
2006-11-01   38.130001   37.560001  1.000000  1.000000  1.000000
2007-04-30   61.910000   61.330002  1.608445  1.608445  1.608445
2007-11-01   87.750000   87.650002  1.000000  1.000000  1.000000
2008-04-30   80.900002   78.629997  0.896068  0.896068  0.896068
2008-11-03   56.349998   55.770000  1.000000  1.000000  1.000000
2009-04-30   80.930000   80.519997  1.428926  1.428926  1.428926
2009-11-02  118.660004  118.839996  1.000000  1.000000  1.000000
2010-04-30  141.399994  137.100006  1.155402  1.155402  1.155402

In [34]:
price_df['rtn'].cumprod()

Date
2000-11-01    1.000000
2001-04-30    0.440628
2001-11-01    0.440628
2002-04-30    1.038713
2002-11-01    1.038713
2003-04-30    1.550503
2003-11-03    1.550503
2004-04-30    1.233612
2004-11-01    1.233612
2005-04-29    1.166560
2005-11-01    1.166560
2006-04-28    1.027635
2006-11-01    1.027635
2007-04-30    1.652894
2007-11-01    1.652894
2008-04-30    1.481106
2008-11-03    1.481106
2009-04-30    2.116392
2009-11-02    2.116392
2010-04-30    2.445283
Name: rtn, dtype: float64

In [35]:
start =datetime(year=2000, month=11, day=1)
start

datetime.datetime(2000, 11, 1, 0, 0)

In [36]:
# 시작일로부터 5개월 뒤 
end = start + relativedelta(months=5)

In [37]:
start = start.strftime("%Y-%m") #시계열을 문자로 바꿔준다.
start

'2000-11'

In [38]:
end = end.strftime('%Y-%m')
end

'2001-04'

### 할로윈 투자 전략을 함수화
- 매개변수 4개 : 데이터프레임, 시작년도, 종료년도, 시작월
    - 시작년도는 기본값이 2000
    - 종료년도는 기본값이 2010
    - 시작월은 기본값이 11
- 컬럼에 Date가 존재하는가?
    - 존재한다면 Date를 인덱스로 변경
- index를 시계열 데이터로 변환

In [39]:
## 할로윈 전략을 함수화
def six_month(_df, _start = 2000, _end = datetime.now().year, _month = 11):
    df = _df.copy()
    if 'Date' in df.columns:
        df.set_index('Date', inplace=True)

    df.index = pd.to_datetime(df.index, format='%Y-%m-%d') #시계열로 변경함

    # 비어있는 데이터프레임 생성
    result = pd.DataFrame()

    for i in range(_start, _end):
        start = datetime(year= i, month=_month, day=1)
        end = start + relativedelta(month=5) # 시작에서 5개월 뒤

        buy_mon = start.strftime('%Y-%m')
        sell_mon = end.strftime('%Y-%m')

        buy = df.loc[buy_mon, ].head(1)
        sell = df.loc[sell_mon, ].tail(1)

        result = pd.concat([result, buy, sell], axis=0)
    
    # 수익률 계산
    result['rtn'] = 1
    for i in range(1, len(result), 2):
        rtn = result.iloc[i, ]['Close'] / result.iloc[i-1, ]['Open']
        result.iloc[i, 2] = rtn
    # 누적 수익율을 계산
    result['acc_rtn'] = result['rtn'].cumprod()
    # 총 누적수익율을 변수에 저장
    acc_rtn = result.iloc[-1,]['acc_rtn']
    return result, acc_rtn

In [40]:
df = pd.read_csv('../../../csv/AMZN.csv')

In [42]:
six_month(df)

KeyError: '2019-11'

In [6]:
# 야후파이낸스 라이브러리 설치 
!pip install yfinance

Collecting yfinance
  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/14/03/3c854ca3e02eedf614abba4b2e177c469bf3af58207fa30d5098c5d652fe/yfinance-0.2.37-py2.py3-none-any.whl.metadata
  Using cached yfinance-0.2.37-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.2.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Obtaining dependency information for multitasking>=0.0.7 from https://files.pythonhosted.org/packages/3e/8a/bb3160e76e844db9e69a413f055818969c8acade64e1a9ac5ce9dfdcf6c1/multitasking-0.0.11-py3-none-any.whl.metadata
  Using cached multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Collecting lxml>=4.9.1 (from yfinance)
  Obtaining dependency information for lxml>=4.9.1 from https://files.pythonhosted.org/packages/02/59/e1fbe2514d8ab39977b72e77f98d0fa49772f61e938049baf151b307a4f0/lxml-5.1.0-cp312-cp312-win_amd64.whl.metadata
  Using cached lxml-5.1.0-cp312-cp312-win_amd64.whl.metadata (3.6 kB)
Collecting appdirs>=1.4.4 (from yfinance)
  Using cached appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: pytz>=2022.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2024.1)
Collecting frozendict>=2.3.4 (from yfinance)
  Using cached frozendict-2.4.0.tar.gz (314 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting peewee>=3.16.2 (from yfinance)
  Using cached peewee-3.17.1.tar.gz (3.0 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (4.12.3)
Collecting html5lib>=1.1 (from yfinance)
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\user\appdata\roaming\python\python312\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (2024.2.2)
Downloading yfinance-0.2.37-py2.py3-none-any.whl (72 kB)
   ---------------------------------------- 0.0/73.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/73.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/73.0 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/73.0 kB ? eta -:--:--
   ---------------- ----------------------- 30.7/73.0 kB 330.3 kB/s eta 0:00:01
   --------------------------------- ------ 61.4/73.0 kB 469.7 kB/s eta 0:00:01
   --------------------------------- ------ 61.4/73.0 kB 469.7 kB/s eta 0:00:01
   ---------------------------------------- 73.0/73.0 kB 335.6 kB/s eta 0:00:00
Downloading lxml-5.1.0-cp312-cp312-win_amd64.whl (3.9 MB)
   ---------------------------------------- 0.0/3.9 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.9 MB 15.5 MB/s eta 0:00:01
   --------------- ------------------------ 1.5/3.9 MB 19.6 MB/s eta 0:00:01
   ------------------------------ --------- 3.0/3.9 MB 23.7 MB/s eta 0:00:01
   ---------------------------------------- 3.9/3.9 MB 22.7 MB/s eta 0:00:00
Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: frozendict, peewee
  Building wheel for frozendict (pyproject.toml): started
  Building wheel for frozendict (pyproject.toml): finished with status 'done'
  Created wheel for frozendict: filename=frozendict-2.4.0-py3-none-any.whl size=15471 sha256=0c9e3852e5f636933995942a2a515efb5aec9f3eb831ef39d5fc2fb32921baa8
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\f8\24\61\a7327cee6da6ddddd619cddf13acfb4ec63606c69bbfe31486
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.1-py3-none-any.whl size=136948 sha256=412755fd167e698aed27d54db6483a2c5084052bbc4747663ccc18f20a814b9a
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\fe\58\f4\132ded03aa364dd5d2bbc2d02e1c2074a9b5012776d15fc2dc
Successfully built frozendict peewee
Installing collected packages: peewee, multitasking, appdirs, lxml, html5lib, frozendict, yfinance
Successfully installed appdirs-1.4.4 frozendict-2.4.0 html5lib-1.1 lxml-5.1.0 multitasking-0.0.11 peewee-3.17.1 yfinance-0.2.37

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import yfinance as yf

In [8]:
aapl = yf.download('AAPL', start='2020-01-01')

[*********************100%%**********************]  1 of 1 completed

In [9]:
aapl.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  73.059418  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  72.349129  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  72.925636  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  72.582664  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  73.750237  132079200

In [10]:
sdi = yf.download('006400.KS', start='2015-01-01')

[*********************100%%**********************]  1 of 1 completed

In [11]:
sdi.head()

                Open      High       Low     Close      Adj Close  Volume
Date
2015-01-02  115500.0  118500.0  115500.0  117000.0  112447.531250  129817
2015-01-05  116500.0  117500.0  114500.0  115000.0  110525.335938  218029
2015-01-06  112000.0  113000.0  110000.0  111000.0  106680.992188  283326
2015-01-07  109500.0  112000.0  109000.0  110500.0  106200.453125  170777
2015-01-08  111500.0  115000.0  111000.0  114000.0  109564.257812  192137

In [43]:
six_month(aapl, _start=2020)

(                  Open        High         Low       Close   Adj Close  \
 Date
 2020-11-02  109.110001  110.680000  107.320000  108.769997  106.562302
 2020-05-29   79.812500   80.287498    0.728485   79.485001   77.731544
 2021-11-01  148.990005  149.699997  147.800003  148.960007  146.875183
 2021-05-28  125.570000  125.800003    0.836365  124.610001  122.682198
 2022-11-01  155.080002  155.449997  149.130005  150.649994  149.373886
 2022-05-31  149.070007  150.660004    0.959763  148.839996  147.374557
 2023-11-01  171.000000  174.229996  170.119995  173.970001  173.519684
 2023-05-31  177.330002  179.350006    1.036550  177.250000  176.552780

                Volume  rtn  acc_rtn
 Date
 2020-11-02  122866900    1        1
 2020-05-29  153532400    1        1
 2021-11-01   74588300    1        1
 2021-05-28   71311100    1        1
 2022-11-01   80379300    1        1
 2022-05-31  103718400    1        1
 2023-11-01   56934900    1        1
 2023-05-31   99625300    1        1  ,
 1.0)

In [44]:
# 1월부터 12월까지 6개월 유지 투자 전략
for i in range(1, 13):
    df, acc_rtn = six_month(sdi, _start=2015, _month=i)
    print(f"{i}월에 투자 시작 시 수익율 : {round(acc_rtn, 2)}")

1월에 투자 시작 시 수익율 : 1.0
2월에 투자 시작 시 수익율 : 1.0
3월에 투자 시작 시 수익율 : 1.0
4월에 투자 시작 시 수익율 : 1.0
5월에 투자 시작 시 수익율 : 1.0
6월에 투자 시작 시 수익율 : 1.0
7월에 투자 시작 시 수익율 : 1.0
8월에 투자 시작 시 수익율 : 1.0
9월에 투자 시작 시 수익율 : 1.0
10월에 투자 시작 시 수익율 : 1.0
11월에 투자 시작 시 수익율 : 1.0
12월에 투자 시작 시 수익율 : 1.0