Python에서 제공하는 문자열 내장함수

In [1]:
# 문자열의 길이를 출력
a = 'Hello'
b = ' Hello '

In [4]:
print(len(a))
print(len(b)) #공백도 포함해서 카운트함.

5
7

In [6]:
## 문자의 형태를 변환 (대, 소문자 변환)
a = "Hello world"

# 문자를 모두 대문자로 변환
print(a.upper())
# 문자를 모두 소문자로 변환
print(a.lower())
# 문자의 대문자를 소문자로, 소문자를 대문자로 변환
print(a.swapcase())
# 단어의 첫글자를 대문자로 변환
print(a.title())

HELLO WORLD
hello world
hELLO WORLD
Hello World

In [8]:
_list = [4, 3, 2, 6]
print(_list.sort())

None

In [11]:
print(a)

Hello world

In [13]:
a = a.upper() #a에 적용해주기
print(a)

HELLO WORLD

In [16]:
## 문자열의 좌우 공백을 제거하는 함수
test_text = "   Hello  World   "
#print(test_text) #print를 사용하면 공백을 확인할 수 없다.
test_text #그냥 출력해야지 공백이 보임

'   Hello  World   '

In [18]:
## 양쪽 공백 모두 제거 : strip()
test_text.strip()

'Hello  World'

In [20]:
## 좌측의 공백을 제거 : lstrip()
test_text.lstrip()

'Hello  World   '

In [22]:
## 우측의 공백을 제거 : rstrip()
test_text.rstrip()

'   Hello  World'

In [25]:
test = '$100'
print(type(test))

<class 'str'>

In [57]:
#int(test) # 특수문자가 포함되어 있어서 숫자로 바꿀 수 없다. $를 제거해야함.
int(test.lstrip('$'))
print(test)
#print(test)
#print(type(test))

#test = int(test)
#print(test)
#print(type(test))

AttributeError: 'int' object has no attribute 'lstrip'

In [55]:
a = 'Hello world'
b = ' Hello World'

In [58]:
a = a.upper()
b = b.upper() 

b = b.strip()

print(a)
print(b)
a == b

HELLO WORLD
HELLO WORLD

True

In [59]:
## 특정 문자를 다른 문자로 치환하는 함수
## replace({특정문자}, {치환할 문자})
a.replace('HELLO','HI')

'HI WORLD'

In [61]:
a = '상 품 A'
b = '상품a'

In [68]:
# a변수 데이터의 문자열 사이의 공백을 제거
a = a.replace(" ","")
print(a)

상품A

In [69]:
# b변수의 데이터는 모두 대문자로 변환
b = b.upper()
print(b)

상품A

In [71]:
a == b

True

In [75]:
# 특정 문자열을 기준으로 문자열을 나눠주는 함수
# split() -> 인자 값은 기본 값으로 공백
a = 'a b c d'
print(a)
print(a.split()) #공백을 기준으로 잘라서 리스트 형태로 만들어줌.

a b c d
['a', 'b', 'c', 'd']

In [78]:
b = '1/2/3/4/5/6'
print(b.split('/')) #특정 문자('/')를 기준으로 잘라줌

['1', '2', '3', '4', '5', '6']

In [79]:
# C(insert), R(select), U(update), D(delete)
# R(select)만 데이터 변경이 없음.
# 아래에서 sQL문을 만들어주고 select문인지 아닌지 판단할 것임.

# 쿼리문에서 시작과 끝에 """은 하나의 문자열로 보겠다는 것임
sql_data = """
    select
    *
    from
    user
"""
sql_data2 = """
    insert
    into
    user
    values
    ('test','1234')
"""

In [90]:
# 첫번째로 공백을 제거해줌.(strip)
# 두번째로 나눠줌(split)
# 첫번쨰 항목[0]이 select와 같은지(==) 확인한다.

sql_data.strip().split()[0] == 'select'

True

In [91]:
sql_data2.strip().split()[0] == 'select'

False

In [94]:
# 대문자로 구성이된 경우
# 대/소문자로 변경한 후에 위 순서대로 진행
sql_data3 = """
    SELECT
    *
    FROM
    user
"""

sql_data3.lower().strip().split()[0] = 'select'

In [100]:
#위 과정을 startswith('시작하는 문자')를 사용해서 풀기
sql_data3.lower().strip().startswith('select')

True

In [99]:
# 맨 마지막 문자를 출력하는 방법, -1 or len()-1

### 일반 함수
    - 어떠한 입력값을 가지고 작업을 실행하고 결과물을 되돌려주는 기능 (return & print)
     * return
        함수 호출 후 결과값을 되돌려받아서 출력물이 만들어지는 것
     * print
        되돌려받는 값이 없어서 변수에 대입되지 않음. 보여주기만 하는 것

In [103]:
def func_1(a, b):
    result = a + b
    return result

def func_2(a, b):
    result = a + b
    print(result)

In [108]:
test = func_1(3,6) #결과값이 안나옴, 변수에 반영된 것임.

In [110]:
test2 = func_2(3,6) #결과값 나옴

9

In [112]:
print(test)
print(test2)

9
None

In [114]:
## 인자의 개수가 가변인 경우 함수 생성
def func_3(*args):
    print(type(args))
    print(args)
    print(len(args))

In [117]:
func_3(1,2,3,4,5)
func_3(6, 10, 'test')

<class 'tuple'>
(1, 2, 3, 4, 5)
5
<class 'tuple'>
(6, 10, 'test')
3

In [119]:
## 매개변수 2개
## 두개의 매개변수 중 작은 값을 되돌려주는 함수
def func_4(a,b):
    if a < b:
        return a
    else:
        return b

In [121]:
func_4(10, 4)

4

In [122]:
func_4(5, 7)

5

In [125]:
# 위 문제를 min()함수를 사용
min(10, 4, 5)

4

### 함수 문제
- min() 함수를 똑같이 만들어보자
    - 인자의 개수는 가변
    - 지역변수 result를 생성하여 인자의 첫번째 값을 대입
    - 각 인자의 값들을 비교하여 가장 작은 값을 지역 변수(result)에 대입
    - result를 되돌려준다.

In [130]:
def func_5(*a):
    result = a[0] #result에 첫번쨰 값을 담기 -> (인자의 개수 -1)번 비교함.
   
    for i in range(1, len(a), 1):
        if result > a[i]:
            result = a[i] # i번쨰 항목으로 result값을 변환해줌
    
    return result

In [132]:
# 위 문제 두번째 풀이

def func_5(*a):
    result = a[0]

    for i in a[1:]:
        if result > i:
            result = i

    return result

In [145]:
## 평균 값을 되돌려주는 함수 생성
# 인자의 개수는 가변
def func_6(*args):
    result = 0
    cnt = 0
    for i in args:
        result += i #result = result + i
        cnt += 1
    result /= cnt
    return result

In [139]:
func_6(1,2,3,4,5)

3.0

In [143]:
# 매개변수 2개를 생성
# 첫번째 매개변수는 최솟값, 평균을 선택하는 변수
# 두번째 매개변수는 인자의 개수가 가변

def func_7(flag, *args):
    if flag == 'min' :
        result = args[0]
        for i in args[1:]:
            if result > i:
                result = i
    elif flag == 'mean':
        result = 0 #합계를 구하기 위함
        cnt = 0 #횟수 구하기 위함
        for i in args:
            result += i #i를 넣어준다.
            cnt += 1 #하나씩 증가시켜준다.
        result /= cnt
    return result

In [144]:
print(func_7('mean', 1, 2, 3, 4, 5))
print(func_7('min', 1, 2, 3, 4, 5))

3.0
1