In [1]:
# 라이브러리 로드
import pandas as pd

C:\Users\User\AppData\Local\Temp\ipykernel_20092\1580295572.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# 1차원 데이터인 Series 생성
# 첫번쨰 값 = value, index 매개변수가 존재.(변수가 2개)
# index값 안넣으면 자동적으로 부여
# 맨아래 나오는 건 데이터(벨류)의 타입을 알려줌

# 인덱스 값을 안넣은 경우
pd_series = pd.Series(
    [5000, 6000, 6500, 6500]
)

In [4]:
print(pd_series)

0    5000
1    6000
2    6500
3    6500
dtype: int64

In [5]:
# 인덱스 값을 지정해 준 경우
pd_series2 = pd.Series(
    [5000, 6000, 6500, 6500],
    index = ['아메리카노', '카페라떼', '카페모카','카푸치노']
)

In [7]:
print(pd_series2)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [8]:
## Series 라는 Class
## 변수 + 함수
## 변수는 뭐가 있을 것인가?
## 변수는 values, index
print(pd_series2.values)

[5000 6000 6500 6500]

In [10]:
print(pd_series2.index)

Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [12]:
# index는 변수이기 때문에 변경이 가능함
# 인덱스를 선택해주고
# 길이를 기존과 같게 입력해야 한다.
pd_series2.index = ['아아','라떼','모카','카푸치노']

In [15]:
print(pd_series2)

아아      5000
라떼      6300
모카      6500
카푸치노    6500
dtype: int64

In [14]:
# 그리고 value값도 바꿀 수 있다.
# 라뗴의 가격을 변경하기

pd_series2.values[1] = 6300

In [16]:
# 시리즈는 딕셔너리와 흡사함
# 딕셔너리에 위 상황을 똑같이 하는 경우
data = {
    '아아' : 5000,
    '라떼' : 6300,
    '모카' : 6500,
    '카푸치노' : 6500
}

In [17]:
data['모카'] = 7000

In [18]:
data

{'아아': 5000, '라떼': 6300, '모카': 7000, '카푸치노': 6500}

In [19]:
pd_series2['모카'] = 7000

In [20]:
print(pd_series2)

아아      5000
라떼      6300
모카      7000
카푸치노    6500
dtype: int64

In [22]:
# 위 처럼 튜플, 시리즈, 딕셔너리는 데이터 구조가 비슷하다.

In [23]:
## Series를 생성할때 value의 개수와 index의 개수가 다른 경우(에러)
_val = [5000, 6000, 6500, 6500]
_index = ['A','B','C']

pd.Series(_val, index=_index)

ValueError: Length of values (4) does not match length of index (3)

DataFrame

In [24]:
# R에서는 Key1 : c(), Key2 : c() 로 구성, / value가 벡터형태로 들어감
# Python 에서는 Key1 : Series, Key2 : Series 로 구성, / value가 Series형태로 들어감

In [31]:
# 2차원 데이터 프레임 생성
# 아래 경우는 컬럼의 길이와 데이터의 길이가 같은 경우임.
# 길이가 같지 않아도 출력은 해줌.
_val = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
df = pd.DataFrame(_val)

In [32]:
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [33]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
# 이제 컬럼의 이름을 바꿔보자
# 데이터 베이스는 3개의 변수가 존재 (cf_시리즈는 키값과 벨류 두가지임)

In [35]:
print(list(df.index))

[0, 1, 2]

In [38]:
print(df.columns)

Index(['A', 'B', 'C'], dtype='object')

In [37]:
## 전체 컬럼의 이름 변경
## 데이터(벨류)의 길이와 맞춰서 변경해줘야 한다.
## A B C
df.columns = ['A','B','C']

In [39]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [44]:
## 일부 컬럼만 변경
## 컬럼 중 B컬럼의 이름을 b로 변경
 # rename()은 컬럼과 인덱스 모두 변경할 수있다.

#df.columns[1] = 'b' -> 이거는 에러
df = df.rename(columns={
    'A' : 'a',
    'C' : 'c'
})

In [45]:
df

   a  B  c
0  1  2  3
1  4  5  6
2  7  8  9

In [46]:
## list + dict 혼합된 2차원 데이터를 이용하여 DataFrame 생성
 # dict안에 list
data = {
    'name' : ['a','b','c'],
    'age' : [20, 30, 40]
}
df2 = pd.DataFrame(data)
df2

  name  age
0    a   20
1    b   30
2    c   40

In [47]:
# list 안에 dict
data2 = [
    {
        'name':'a',
        'age':20
    },
    {
        'name':'b',
        'age':30
    }
]
df3 = pd.DataFrame(data2)
df3

  name  age
0    a   20
1    b   30

### 외부의 데이터 파일 로드
- csv
    - pandas 안에 있는 read_csv({파일의 경로}) 함수 호출
- json
    - read_json({파일의 경로})
- excel
    - read_excel({파일의 경로})
    - 추가로 라이브러리 설치 필요해야하는 경우 존재
- xml
    - read_xml({파일의 경로})
- excel을 제외하고 나머지 데이터파일에서 사용이 되는 매개변수
    - encoding 매개변수
        - 기본값이 UTF-8
        - 데이터에 한글이 포함되어 있는 경우 에러 발생 확률
            - CP949, EUC-KR 인자값을 생성

- 공용 매개변수
    - index_col
        - data 파일에서 특정 컬럼을 인덱스로 변환해서 데이터프레임 생성
- 파일 경로
    - 절대경로, 상대경로 가능

In [59]:
# 상대 경로 사용시
# 작업하고 있는 곳 확인
# 그 폴더에서 얼마나 상위 폴더로 이동해야하는지 (../)

df = pd.read_csv("../../../csv/AAPL.csv")

In [60]:
df.head(3)

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.410525  117258400.0
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.389106   43971200.0
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.360548   26432000.0

In [61]:
## json파일을 로드
df2 = pd.read_json('../../../csv/2021/202101_expense_list.json')

In [63]:
df2.head(1)

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,...,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount,bimok
0,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,,,2021,1,...,NaN,,중랑물재생센터 관리과,2021-01-25 00:00,,소속직원 경조사비,"김광옥, 김용성",현금,100000,None

In [66]:
!pip install openpyxl

Collecting openpyxl

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ------------------------------------- 250.0/250.0 kB 15.0 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [68]:
jf3 = pd.read_excel('../../../csv/2021/202101_expense_list.xlsx')

In [70]:
pd.read_csv('../../../csv/주민등록.csv', encoding = 'CP949')

,자치구코드(atdrc_code_se),자치구명(atdrc_nm),년월(년월),총인구수(tot_popltn_co),세대수(tot_hshld_co),세대당인구(hshld_popltn_avrg_co),남자인구수(male_popltn_co),여자인구수(female_popltn_co),적재일시(ldadng_dt)
0,금천구,11110,201907,228755,171426,2.44,319062,118352,2018-01-05 16:52:25
1,서대문구,11290,201607,153780,186744,2.12,75614,116393,2018-12-05 10:20:57
2,양천구,11740,201804,594315,61091,2.22,192817,307237,2020-11-03 10:50:11
3,은평구,11200,202004,345156,168865,2.13,229690,204108,2018-01-05 16:52:25
4,마포구,11260,201902,394788,168482,2.52,61714,146951,2018-01-05 16:52:25
5,도봉구,11350,201704,150732,61069,2.39,60735,199831,2018-01-05 16:52:25
6,강북구,11410,202008,404501,174263,2.25,184053,172995,2018-01-05 16:52:25
7,용산구,11620,201407,433658,173943,1.85,252383,198754,2018-01-05 16:52:25
8,관악구,11140,201710,308087,180747,2.01,192923,245902,2021-01-21 15:43:29
9,동대문구,11470,201806,447667,162606,2.49,215440,64221,2020-07-22 20:11:55
10,양천구,11200,201504,559697,109708,2.36,237588,75262,2019-04-22 14:53:02
11,광진구,11260,201704,379339,126579,2.34,110605,174332,2018-01-05 16:52:25
12,관악구,11440,201906,431423,177247,2.65,233214,192414,2018-01-05 16:52:25
13,서초구,11500,201712,234627,144805,2.46,172446,332802,2019-09-05 14:06:33
14,강남구,11380,201712,451253,63851,2.62,320480,177158,2021-06-21 11:02:17
15,강남구,11305,201904,542576,173142,2.54,60139,243251,2020-11-03 10:50:11
16,종로구,11470,201505,442119,248840,2.19,157312,61327,2019-04-22 14:53:02
17,광진구,11350,202001,226161,159500,2.08,232838,158869,2019-03-11 09:30:24
18,구로구,11410,201504,126270,172505,2.26,74025,284150,2019-08-05 09:45:14
19,노원구,11170,201412,233017,243049,2.40,117497,298131,2020-11-03 10:50:11
20,중랑구,11470,201807,421579,133458,1.99,206423,182741,2018-01-05 16:52:25
21,도봉구,11380,201408,483473,167301,2.03,225186,204424,2020-07-22 20:11:55
22,성동구,11545,201805,300410,269220,2.64,74662,197070,2018-12-05 10:20:57
23,구로구,11320,201505,305785,136393,2.62,187960,177515,2019-03-11 09:30:24
24,서초구,11440,201704,405271,135147,2.11,150937,148298,2018-11-05 09:53:36
25,강서구,11410,201712,378199,185610,2.46,157743,78354,2018-01-05 16:52:25
26,금천구,11440,202007,218929,259692,2.34,255912,285095,2018-01-05 16:52:25
27,노원구,11710,201409,373252,138984,2.23,258407,204359,2018-01-05 16:52:25
28,은평구,11170,201404,149524,229712,2.57,167155,162829,2018-01-05 16:52:25
29,노원구,11680,201708,478019,100534,2.18,278171,61187,2018-01-05 16:52:25